.container {
    background-color: #ffffff;
    padding: 2rem 6rem;
    border-radius: 10px;
}

.container2 {
    background-color: #ffffff;
    padding: 1rem 1rem;
    margin-top: 5rem;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 200px;
    }
}