* {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
  color: #ff7e2a;
}

body {
min-height: 100vh;
height: 100%;
background-image: url('../src/img/bb3.gif');
background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-image: url('../src/img/bb-mobile.jpeg');
    background-size: cover;
  }
}